.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: $bright-blue-transparent;

  display: none;
  justify-content: center;
  align-items: center;

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: $radius-10;

    background-color: $white;

    width: 25%;

    .close {
      text-align: end;
      font-size: 20px;
      margin-bottom: 1.5vh;
      cursor: pointer;
    }
    .modal_label {
      font-size: 20px;

      select {
        width: 100%;
        font-size: 17.5px;
        padding: 0.5rem 1rem;

        #status {
          margin: 2.5vh 0;

          option {
            padding: 0.5rem 1rem;
          }
        }
      }
    }

    .modal_actions {
      font-size: 20px;
      margin-top: 3vh;

      display: flex;
      justify-content: space-between;

      p {
        border-radius: $radius-10;
        padding: 0.5rem 1rem;

        cursor: pointer;
      }
      .cancel {
        border: 1px solid red;
        color: red;
      }
      .accept {
        background-color: green;
        color: $white;
      }
    }
  }
}
