.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  width: 90%;

  padding: 0.5rem 0;

  background-color: $grey-blue;
  margin: 10px auto;
  border-radius: $radius-10;

  &_name {
    font-size: 17.5px;
    padding: 1rem;
  }

  &_project {
    font-size: 16px;
    font-weight: 900;
    border-radius: 12px;

    padding: 0.5em;
    margin: 0 1em;

    width: auto;
  }

  &_infos {
    padding: 1em;
  }
  &_date {
    display: flex;
    align-items: center;
  }
}
