.task_table {
  display: flex;
  flex-direction: column;

  padding: 2vh 1vw;

  background-color: $white;
  border-radius: $radius-25;
  height: 80vh;

  &_header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 0.5px solid $bright-blue;

    &_item {
      flex: 0 0 calc(100% / 5);

      text-align: center;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &_entity {
      display: flex;
      padding: 1rem 0;
      border-bottom: 0.5px solid #72a2e55b;

      align-items: center;
      &:hover {
        background-color: #72a2e527;
      }

      &_info {
        flex: 0 0 calc(100% / 5);

        text-align: center;

        &-project {
          font-size: 16px;
          font-weight: 900;
          border-radius: 12px;
          padding: 0.5em;
          width: fit-content;
          text-align: center;
          margin: auto;
          padding: 0.5em 2rem;
        }

        &-actions {
          cursor: pointer;
        }
      }
    }
  }
}
