.userInfo {
  width: 60vw;

  display: flex;
  flex-direction: column;

  &_header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 3% auto;

    &_title {
      font-size: 20px;
    }
    &_editBtn {
      font-size: 15px;
      padding: 0.5rem 1rem;
      border-radius: $radius-10;
      border: 0.5px solid $dark-blue;
      cursor: pointer;

      &:hover {
        background-color: $dark-blue;
        color: $white;
      }
    }
  }
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;

    &_infos {
      display: flex;
      justify-content: center;
      align-items: center;

      border-right: 0.51px solid $dark-blue;

      &_photo {
        $size: 150px;

        width: $size;
        height: $size;
        object-fit: cover;

        border-radius: 100%;
        border: 0.5px solid $dark-blue;
      }

      &_name {
        font-size: 35px;
        padding-left: 1rem;

        width: 250px; //TODO: Change this!

        &-loading {
          @include loading(25px, 200px);

          margin: 0 3rem;
        }
      }
    }

    &_contact {
      display: flex;
      flex-direction: column;

      font-size: $font-20;

      &_item {
        display: flex;
        align-items: center;
        justify-self: center;
        margin: 1rem 0;

        span {
          margin-right: 0.5rem;
        }
      }
    }
  }

  &_daysOf {
    display: flex;
    margin: 5%;
    align-items: flex-end;
    flex-direction: row-reverse;

    &_data {
      color: $bright-blue;
      font-weight: 600;
    }
  }
}
