.department_page.project_page {
  .row {
    display: flex;
    justify-content: space-between;
  }
  .section {
    justify-content: start;
    .row-around {
      justify-content: space-around;
    }
    #title {
      padding: 3vh 0;
    }
    .column {
      max-height: 60vh;
      overflow-y: auto;
      margin: 1vh 1.75vw;
      flex-direction: column;

      .member_card {
        display: flex;
        align-items: center;
        min-width: 10vw;

        padding: 1.5vh 2vw;
        background-color: $white;
        border-radius: $radius-10;

        margin: 1vh 0.5vw;

        &_photo {
          $size: 50px;

          width: $size;
          height: $size;
          object-fit: cover;

          border-radius: 100%;
          margin-right: 1vw;
        }
      }
    }

    .row {
      height: auto;
    }
  }
}
#bin {
  margin-right: -70vw;
  margin-top: -9vh;
}

#seeMembers {
  .modal_content {
    max-height: 40vh;
  }
  .members {
    max-height: 35vh;
    overflow-y: scroll;
  }
  .icon {
    margin-right: 0;
  }
  .member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;

    &_infos {
      display: flex;
      align-items: center;

      &_photo {
        $size: 50px;

        width: $size;
        height: $size;
        border-radius: 100%;
        margin-right: 1rem;

        object-fit: cover;
      }
      &_name {
        font-size: 20px;
      }
    }

    .actions {
      position: relative;
      cursor: pointer;
      z-index: 99;
      left: -3%;
    }
  }
}
