* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}
body {
  overflow: hidden;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}
