.report_page {
  &_content {
    padding: 2vh 2vw;
    width: 100%;
    height: 100vh;
    gap: 30px;

    display: flex;
    flex-direction: column;

    .card {
      padding: 3vh 4vw;
      background-color: #fff;
      border-radius: 25px;
    }

    .details {
      display: flex;
      justify-content: space-between;
      height: 80%;

      .reports {
        width: 65%;
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      .list {
        width: 20%;

        .title {
          font-size: 30px;
          padding: 1vh 0;
        }

        .departments {
          height: 92%;

          overflow: auto;
          display: flex;
          flex-direction: column;
          gap: 15px;

          .department {
            display: flex;
            align-items: center;
            padding: 2vh 2vw;

            img {
              width: 50px;
              scale: 1/1;
            }

            p {
              font-size: 20px;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }

  &-dep {
    .card {
      .title {
        span {
          font-weight: 400;
        }
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: max-content;
        padding: 0.5rem 1.5rem;
        background-color: $white;
        color: $dark-blue;
        border: $dark-blue 1px solid;
        margin: 1.5vh 0;
        margin-left: 1vw;
        border-radius: $radius-10;
        cursor: pointer;
        font-size: 20px;
      }
    }

    .details {
      height: 55%;
      .row {
        width: 100%;
        gap: 33px;
      }
    }
    .reports {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .details {
        height: auto;
        display: flex;
        flex-direction: column;

        span {
          font-weight: 600;
        }
      }
    }
  }
}
