.tasks {
  &_content {
    padding: 2vh 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;

    &_actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: 2vh 1vw;

      &_filter {
        display: flex;
        align-items: center;

        &_search {
          display: flex;
          align-items: center;
          margin-right: 2rem;

          input {
            width: 23rem;
            height: 3rem;

            background: $white;
            border: none;
            box-sizing: border-box;
            border-radius: $radius-10;

            &:focus {
              border: 1px solid $bright-blue;
            }
          }

          .icon {
            position: relative;
            margin-left: -25px;

            width: 16px;
            height: 16px;

            cursor: pointer;
          }
        }

        &_quick {
          font-size: 17.5px;
          margin-left: 15px;

          cursor: pointer;
        }
      }

      &_add {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
