.myProjects {
  width: 23vw;
  height: 50vh;
  margin-top: 3.5vh;
  &_header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 5% auto;

    &_title {
      font-size: 20px;
    }
  }
  &_container {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
  }
}
